<div class="actionBox">
  <ul class="commentList">
    {{#each this}}
      <i class="comment-icon fa-regular fa-comments"></i>
      <li>
        <div class="commentText">
          <span class="date sub-text">{{user.email}}
            commented: </span>
          <p class="">{{comment_body}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
</div>