  <header>
    <label>Comments</label>
  </header>     
    <div class="actionBox">
        <ul class="commentList">
          {{#each this}}
            <li>
                <div class="commentText">
                    <p class="">{{comment_body}}</p> <span class="date sub-text">@{{user.email}} on {{format_date created_at}}</span>

                </div>
            </li>
          {{/each}}
        </ul>
    </div>
</div>