<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/bf992925c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css" />
    <title>Home</title>
</head>

<body>




    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
            <header>
                <a>MVC Tech Blog</a>
            </header>
            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="fa-solid fa-house"></i>Home
                    </a>
                <li>
                    <a href="/dashboard">
                        <i class="fa-solid fa-blog"></i> Dashboard
                    </a>
                {{#if loggedIn}}
                <li class="logout">
                    <a href="/logout">
                        <i class="fa-solid fa-user"></i> Log Out
                    </a>
                {{else}}
                <li>
                    <a href="/login">
                        <i class="fa-solid fa-user"></i> Log In
                    </a>
                {{/if}}
            </ul>
        </div>

        <!-- Content -->
        {{{body}}}




        <script src="/js/index.js"></script>
        {{#if loggedIn}}
        <script src="/js/logout.js"></script>
        {{/if}}
</body>

</html>