/* Universal Elements */
:root {
  --dark: #1e1e1e;
  --not-so-dark: #3A3A3A;
  --primary: #FFFFFF;
  --secondary: #564787;

  font-family: "Montserrat";
}

/* NAVBAR */
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: var(--not-so-dark);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: var(--dark);
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav a {
  display: flex;
  width: 250px;
  background: none;
  border-bottom: 1px solid #cfd8dc;
  color: #eceff1;
  font-size: 16px;
  padding: 16px 24px;
}

#sidebar .nav a:hover {
  background: var(--dark);
  color: #eceff1;
  text-decoration: none;
  transition: all 0.5s ease;
}

#sidebar .nav a i {
  margin-right: 16px;
}

/* LOGIN */

.user-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.form-box {
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  padding: 50px 60px 70px;
  border: 1px solid var(--not-so-dark);
  text-align: center;
}

.form-box h1 {
  font-size: 30px;
  margin-bottom: 60px;
  color: var(--dark);
  position: relative;
}

.form-box h1::after {
  content: "";
  width: 30px;
  height: 4px;
  background: var(--dark);
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.input-group input {
  min-width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.input-field {
  background: #eaeaea;
  width: 100%;
  margin: 15px 0;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

.input-field i {
  margin-left: 15px;
  color: var(--dark);
}

form p {
  text-align: left;
  font-size: 13px;
}

form p a {
  text-decoration: none;
  color: var(--bg-secondary);
}

.btn-field {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-field button {
  flex-basis: 48%;
  background: var(--dark);
  color: var(--bg-primary);
  height: 40px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}

.input-group {
  height: 340px;
}

.btn-field button:hover {
  background-color: var(--secondary);
}

#signInBtn,
#signUpBtn {
  color: var(--primary);
}


/* DASHBOARD */

.section {
  margin-top: 8px;
}


/* SINGLE POST */

.commentBtn, .edit-post {
  width: 125px;
  height: 30px;
  margin-top: 5px;
  color: var(--primary);
  background-color: var(--not-so-dark);
  /* How can I get the border to match the shape defined below? */
  border: 0px;
  position: relative;
}

.commentBtn::after, .edit-post::after {
  width: 0px;
  height: 0px;
  background: var(--primary);
  content: '';
  position: absolute;
  bottom: 0;
}

.commentBtn::after, .edit-post::after {
  right: 0;
  border-top: 6px solid var(--not-so-dark);
  border-right: 6px solid var(--primary);
  border-left: 6px solid var(--not-so-dark);
  border-bottom: 6px solid var(--primary)
}

/* COMMENTS */

header {
  color: var(--not-so-dark);
  font-size: 20px;
}

.commentText p {
  color: var(--secondary);
}